<ul class="nav nav-tabs news-feed">
      <li class="active"><%= link_to "Home", restaurants_path %></li>
      <li><%= link_to "News Feed", feeds_restaurants_path %></li>
      <li><%= link_to "Top 10 Restaurants", ranking_restaurants_path %></li>
      <li><%= link_to "Follow Foodies", users_path %></li>
</ul>