
*{border-sizing:border-box;}



.container a{text-decoration:none;}

.form-container{margin: 0 auto;width:70%;padding-top:50px;}
.form-group{width:50%;margin: 0 auto;padding-top:20px;}
.actions{padding-top:20px;}


.container_table .container_table_cell{padding-top:50px;}
.container_table .container_table_button{padding-top:45px;}


.restaurant-container .restaurant-content{;padding: 40px 50px;text-align:center;}
.restaurant-description{text-align:center;}
.edit-btn{text-align:center;}
