
*{border-sizing:border-box;}



.container a{text-decoration:none;}

.form-container{margin: 0 auto;width:70%;padding-top:50px;}
.form-group{width:50%;margin: 0 auto;padding-top:20px;}
.actions{padding-top:20px;}


.container_table .container_table_cell{padding-top:50px;}
.container_table .container_table_button{padding-top:45px;}

.content{ float:left;
    width: 50%;}
.clearfix::after {
  content: '';
  display: table;
  clear: both;
}
.restaurant-description{height:430px;}


.edit-btn{text-align:center;}



.restaurant-item {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 4px;
  margin-bottom: 20px;
}

.restaurant-item img {
  height: 180px;
  width: 100%;
}

.restaurant-item .caption {
  padding: 10px;
}
.index-ul{padding-bottom:30px;}
.nav-center{width:750px;display:block;margin: 0 auto;}

.clearfix{clear:both;}

.my-restaurant {
display: inline-block;
text-align: center;
 padding: 7px 7px 0 7px;
 }
 
.my-restaurant  div {
 height: 60px;
 }
 
 .my-restaurant img {
   max-height: 100%;
 }
 
 .panel-body a:hover .my-restaurant   {
   background-color: #eee;
 }

.news-feed{padding: 0 45px;margin-bottom:20px;}

.news-image{width:100px;height:100px;border-radius:10px;}

.news-restaurant{width:200px;height:100px;}
.news-restaurant img{width:100%;height:100px;border-radius:10px;}
.news-content{border-bottom:1px solid #DDDDDD;margin-bottom:10px;}
